/* Framework styles */

body {
    margin: 0;
    overflow: hidden;
}
.infoPanel {
    position: absolute;
}
.indent {
    margin: 0 3%;
}
.container-fluid.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}
#viewport {
    position: relative;
    width: 100%;
    height: 100vh;
}
#graphs {
    top: 2%;
    left: 3%;
    width: 25%;
    height: 92.5vh;
    background-color: #565656;
    border-radius: 10px;
    padding: 1% 1% 0 1%;
}
#graphs img {
    width: 90%;
}
.separate div {
    margin-bottom: 2%;
}
#guiWidth {
    position: absolute;
    top: 0;
    right: 0;
    width: 12.5%;
}
#showInfo {
    top: 1%;
    left: 2%;
}
#toggleContainer {
    right: 1%;
    bottom: 1%;
}
#sequenceInfo {
    bottom: 30%;
    right: 0%;
    width: 30%;
}
#sequenceInfo img {
    width: 100%;
}
#toggleSequenceInfo {
    bottom: 30%;
    right: 1.5%;
}
#toggleSequence {
    top: 1%;
    right: 5%;
}
#rotateControls,
#zoomControls {
    color: white;
    width: 7.5%;
    -webkit-touch-callout: none;
}
#rotateControls {
    right: 2%;
    bottom: 2%;
}
#zoomControls {
    right: 2%;
    bottom: 15%;
}
#rotateControls p,
#zoomControls p {
    margin-bottom: 0.5rem;
}
#rotateControls button,
#zoomControls button {
    width: 45%;
    padding: 0;
}
#rotateControls img,
#zoomControls img {
    width: 100%;
}
#message {
    bottom: 5%;
    width: 33.3%;
    left: 33.3%;
    font-size: 1.5vw;
    color: white;
    background-color: #3e3e3e;
    border-radius: 15px;
    padding: 1%;
}
#message img {
    width: 10%;
}
#notSupported {
    top: 20%;
    left: 12.5%;
    width: 75%;
    background-color: #3e3e3e;
    color: white;
    font-size: 1.25vw;
    border-radius: 15px;
    padding: 1%;
}
